.container {
  position: absolute;
  z-index: 300;
  padding: var(--space-2);
  background-color: var(--color-panel);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

.container button,
.container .btn {
  font-size: 1.2rem;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  color: var(--color-text-1);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.container button.small,
.container .btn.small {
  width: 30px;
  height: 30px;
  border-radius: var(--radius-2);
}

.container button:hover,
.container .btn:hover {
  background-color: var(--color-hint);
}

.container button[data-isactive="true"],
.container .btn[data-isactive="true"] {
  background-color: var(--color-selected);
  color: var(--color-selected-contrast);
}

.toolbar {
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .toolbar {
    max-width: 300px;
  }

  .toolbar > button {
    width: 30px;
    height: 30px;
  }
}

.toolbar > * + * {
  margin-left: var(--space-1);
}

.right-aside {
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  box-shadow: none;
}

.right-aside__content {
  display: flex;
  align-items: center;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  margin-right: var(--space-5);
}

.tab-buttons > * + * {
  margin-top: var(--space-1);
}

.tab-buttons, .tab-contents {
  padding: var(--space-2);
  background-color: var(--color-panel);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-1);
}

.tab-contents {
  width: 280px;
  height: 350px;
  overflow: hidden;
}

.tab-contents:not([data-isactive="true"]) {
  display: none;
}