.icon-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.icon-container {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.icon-container > div:empty::before {
  content: "Not found!";
  position: absolute;
  text-align: center;
  width: 100%;
  top: var(--space-2);
}

.icon {
  width: 54px;
  height: 58px;
  color: var(--color-text-2);
  text-align: center;
}

.icon > button {
  font-size: 1.5rem;
}

.icon > span {
  display: block;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.search-input {
  margin: var(--space-2);
  padding: 0.5em;
  border: solid 2px var(--color-text-2);
  border-radius: var(--radius-2);
  font-size: 1rem;
}

.search-input:focus {
  outline: solid 2px var(--color-focus);
  outline-offset: 2px;
}